<h1>{{sayit}}</h1>
<p>Translate to</p>
<button data-language="english" data-text="Hello World">English</button>
<button data-language="german" data-text="Hallo Welt">Germam</button>
<button data-language="french" data-text="Bonjour tout le monde">French</button>